@model saru_ecommerce.Models.User

@{
    ViewData["Title"] = "User Index";
}

<h2>Usuários</h2>

<p><a asp-action="Create">Novo Usuário</a></p>

<form asp-controller="User" asp-action="Index" method="GET">
    <p>
        Name: <input type="text" name="SearchString">
        <input type="submit" value="Filtrar">
    </p>
</form>

<table class="table">
    <thead>
        <th>@Html.DisplayNameFor(model => model.UserId)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.Cpf)</th>
        <th>@Html.DisplayNameFor(model => model.BirthDate)</th>
        <th>@Html.DisplayNameFor(model => model.Gender)</th>
        <th>@Html.DisplayNameFor(model => model.Password)</th>
        <th>@Html.DisplayNameFor(model => model.PhoneNumberPrimary)</th>
        <th>@Html.DisplayNameFor(model => model.PhoneNumberSecondary)</th>
        <th></th>
    </thead>
    <tbody>
    
        <tr>
            <td>@Html.DisplayFor(model => model.UserId)</td>
            <th>@Html.DisplayFor(model => model.Name)</th>
            <th>@Html.DisplayFor(model => model.Email)</th>
            <th>@Html.DisplayFor(model => model.Cpf)</th>
            <th>@Html.DisplayFor(model => model.BirthDate)</th>
            <th>@Html.DisplayFor(model => model.Gender)</th>
            <th>@Html.DisplayFor(model => model.Password)</th>
            <th>@Html.DisplayFor(model => model.PhoneNumberPrimary)</th>
            <th>@Html.DisplayFor(model => model.PhoneNumberSecondary)</th>
            <th>
                <a asp-action="Edit" asp-route-id="@Model.UserId">Editar</a> |
                <a asp-action="Details" asp-route-id="UserId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="UserId">Excluir</a>
            </th>
        </tr>
        
    </tbody>
</table>